/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "react-perfect-scrollbar/dist/css/styles.css";
@import "react-horizontal-scrolling-menu/dist/styles.css";
@layer base {
  :root {
    --background-base: #121212;
    --background-highlight: #121212;
    --background-press: #000000;

    --background-elevated-base: #282828;
    --background-elevated-highlight: #2a2a2a;
    --background-elevated-press: #282828;

    --background-tinted-base: hsla(0, 0%, 34%, 0.185);
    --background-tinted-highlight: hsla(0, 0%, 67%, 0.157);
    --background-tinted-press: hsla(0, 0%, 88%, 0.298);

    --searchbar-tinted-base:hsla(0, 0%, 29%, 0.298);
    --searchbar-tinted-press:hsla(0, 0%, 29%, 0.247);

    --background-tinted-constant: hsla(0, 0%, 62%, 0.207);
    --background-unsafe-for-small-text-base: #121212;
    --background-unsafe-for-small-text-highlight: #121212;
    --background-unsafe-for-small-text-press: #121212;

    --settings-highlight: hsla(0, 0%, 60%, 0.197);

    --text-super-subdued: #404040;
    --text-light: #ffffffe6;
    --text-highlight: #fff;

    --home-text-base: #fff;
    --home-text-subdued: #ffffff;

    --ui-text-subdued: #a7a7a7;
    --ui-text-light: #ffffffe6;

    --sidebar-text-subdued: #a7a7a7;
    --sidebar-text-light: #ffffffe6;

    --text-bright-accent: #1ed760;
    --text-negative: #f15e6c;
    --text-warning: #ffa42b;
    --text-positive: #1ed760;
    --text-announcement: #3d91f4;
    --essential-base: #fff;
    --essential-subdued: #727272;
    --essential-bright-accent: #1ed760;
    --essential-negative: #e91429;
    --essential-warning: #ffa42b;
    --essential-positive: #1ed760;
    --essential-announcement: #0d72ea;
    --decorative-base: #fff;
    --decorative-subdued: #292929;

    --gradient-color: #282828;
  }
}

/* -------------------------------------- animated bars -------------------------------------- */
iframe {
  display: none;
}

.soundwave-container {
  height: 16px;
  width: 16px;
  display: flex;
  align-items: flex-end;
  margin-left: 8px;
}
.bar {
  width: 4px;
  height: 100%;
  color: #1ed760;
  background-color: #1ed760;
  margin: 0 1px;
  animation: equalizer 3.9s steps(20, end) infinite;
}
.bar:nth-child(1) {
  animation-duration: 2.9s;
}
.bar:nth-child(2) {
  animation-duration: 3s;
}
.bar:nth-child(3) {
  animation-duration: 2.7s;
}
.bar:nth-child(4) {
  animation-duration: 2.6s;
}

@keyframes equalizer {
  0% {
    height: 60%;
  }
  4% {
    height: 50%;
  }
  8% {
    height: 40%;
  }
  12% {
    height: 30%;
  }
  16% {
    height: 20%;
  }
  20% {
    height: 30%;
  }
  24% {
    height: 40%;
  }
  28% {
    height: 10%;
  }
  32% {
    height: 40%;
  }
  36% {
    height: 60%;
  }
  40% {
    height: 20%;
  }
  44% {
    height: 40%;
  }
  48% {
    height: 70%;
  }
  52% {
    height: 30%;
  }
  56% {
    height: 10%;
  }
  60% {
    height: 30%;
  }
  64% {
    height: 50%;
  }
  68% {
    height: 60%;
  }
  72% {
    height: 70%;
  }
  76% {
    height: 80%;
  }
  80% {
    height: 70%;
  }
  84% {
    height: 60%;
  }
  88% {
    height: 50%;
  }
  92% {
    height: 60%;
  }
  96% {
    height: 70%;
  }
  100% {
    height: 80%;
  }
}

.song .hover-show,
.song:hover .hover-hidden {
  display: none;
}

.song:hover .hover-show {
  display: flex;
}

/* -------------------------------------- player -------------------------------------- */

.rswp__active._InfoRSWP {
  border-bottom: none !important;
}

.resizer {
  flex-basis: 18px;
  width: 9px;
  position: relative;
  z-index: 2;
  cursor: col-resize;
  border-left: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  background: #333642;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* -------------------------------------- player -------------------------------------- */
button[title="Previous"],
button[title="Next"] {
  visibility: hidden !important;
  width: 0 !important;
}

.btn{
  @apply hover:scale-[1.1] transition-all  duration-200 ease-out;
}

._ControlsButtonRSWP.rswp__toggle {
  width: 60px !important
}

._ControlsButtonRSWP.rswp__toggle{
  @apply hover:scale-[1.1] transition-all  duration-200 ease-out
}

.PlayerRSWP button {
  @apply cursor-default !important;
}
.PlayerRSWP button:hover {
  color: #d9d9d9 !important;
}
/* -------------------------------------- gradients -------------------------------------- */
.g0p {
  background: #012459;
}
.g1p {
  background-color: #003972;
}
.g2p {
  background-color: #003972;
}
.g3p {
  background: #004372;
}
.g4p {
  background: #004372;
}
.g5p {
  background: #016792;
}
.g6p {
  background: #07729f;
}
.g7p {
  background: #12a1c0;
}
.g8p {
  background: #74d4cc;
}
.g9p {
  background: #efeebc;
}
.g10p {
  background: #fee154;
}
.g11p {
  background: #fdc352;
}
.g12p {
  background: #ffac6f;
}
.g13p {
  background: #fda65a;
}
.g14p {
  background: #fd9e58;
}
.g15p {
  background: #f18448;
}
.g16p {
  background: #f06b7e;
}
.g17p {
  background: #ca5a92;
}
.g18p {
  background: #5b2c83;
}
.g19p {
  background: #371a79;
}
.g20p {
  background: #28166b;
}
.g21p {
  background: #192861;
}
.g22p {
  background: #040b3c;
}
.g23p {
  background: #040b3c;
}

.g0 {
  background: #012459;
  background: -moz-linear-gradient(top, #012459 0%, #001322 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #012459),
    color-stop(100%, #001322)
  );
  background: -webkit-linear-gradient(top, #012459 0%, #001322 100%);
  background: -o-linear-gradient(top, #012459 0%, #001322 100%);
  background: -ms-linear-gradient(top, #012459 0%, #001322 100%);
  background: linear-gradient(to bottom, #012459 0%, #001322 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#012459', endColorstr='#001322',GradientType=0 );
}
.g1 {
  background: #003972;
  background: -moz-linear-gradient(top, #003972 0%, #001322 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #003972),
    color-stop(100%, #001322)
  );
  background: -webkit-linear-gradient(top, #003972 0%, #001322 100%);
  background: -o-linear-gradient(top, #003972 0%, #001322 100%);
  background: -ms-linear-gradient(top, #003972 0%, #001322 100%);
  background: linear-gradient(to bottom, #003972 0%, #001322 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003972', endColorstr='#001322',GradientType=0 );
}
.g2 {
  background: #003972;
  background: -moz-linear-gradient(top, #003972 0%, #001322 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #003972),
    color-stop(100%, #001322)
  );
  background: -webkit-linear-gradient(top, #003972 0%, #001322 100%);
  background: -o-linear-gradient(top, #003972 0%, #001322 100%);
  background: -ms-linear-gradient(top, #003972 0%, #001322 100%);
  background: linear-gradient(to bottom, #003972 0%, #001322 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003972', endColorstr='#001322',GradientType=0 );
}
.g3 {
  background: #004372;
  background: -moz-linear-gradient(top, #004372 0%, #00182b 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #004372),
    color-stop(100%, #00182b)
  );
  background: -webkit-linear-gradient(top, #004372 0%, #00182b 100%);
  background: -o-linear-gradient(top, #004372 0%, #00182b 100%);
  background: -ms-linear-gradient(top, #004372 0%, #00182b 100%);
  background: linear-gradient(to bottom, #004372 0%, #00182b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004372', endColorstr='#00182b',GradientType=0 );
}
.g4 {
  background: #004372;
  background: -moz-linear-gradient(top, #004372 0%, #011d34 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #004372),
    color-stop(100%, #011d34)
  );
  background: -webkit-linear-gradient(top, #004372 0%, #011d34 100%);
  background: -o-linear-gradient(top, #004372 0%, #011d34 100%);
  background: -ms-linear-gradient(top, #004372 0%, #011d34 100%);
  background: linear-gradient(to bottom, #004372 0%, #011d34 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004372', endColorstr='#011d34',GradientType=0 );
}
.g5 {
  background: #016792;
  background: -moz-linear-gradient(top, #016792 0%, #00182b 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #016792),
    color-stop(100%, #00182b)
  );
  background: -webkit-linear-gradient(top, #016792 0%, #00182b 100%);
  background: -o-linear-gradient(top, #016792 0%, #00182b 100%);
  background: -ms-linear-gradient(top, #016792 0%, #00182b 100%);
  background: linear-gradient(to bottom, #016792 0%, #00182b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#016792', endColorstr='#00182b',GradientType=0 );
}
.g6 {
  background: #07729f;
  background: -moz-linear-gradient(top, #07729f 0%, #042c47 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #07729f),
    color-stop(100%, #042c47)
  );
  background: -webkit-linear-gradient(top, #07729f 0%, #042c47 100%);
  background: -o-linear-gradient(top, #07729f 0%, #042c47 100%);
  background: -ms-linear-gradient(top, #07729f 0%, #042c47 100%);
  background: linear-gradient(to bottom, #07729f 0%, #042c47 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07729f', endColorstr='#042c47',GradientType=0 );
}
.g7 {
  background: #12a1c0;
  background: -moz-linear-gradient(top, #12a1c0 0%, #07506e 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #12a1c0),
    color-stop(100%, #07506e)
  );
  background: -webkit-linear-gradient(top, #12a1c0 0%, #07506e 100%);
  background: -o-linear-gradient(top, #12a1c0 0%, #07506e 100%);
  background: -ms-linear-gradient(top, #12a1c0 0%, #07506e 100%);
  background: linear-gradient(to bottom, #12a1c0 0%, #07506e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12a1c0', endColorstr='#07506e',GradientType=0 );
}
.g8 {
  background: #74d4cc;
  background: -moz-linear-gradient(top, #74d4cc 0%, #1386a6 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #74d4cc),
    color-stop(100%, #1386a6)
  );
  background: -webkit-linear-gradient(top, #74d4cc 0%, #1386a6 100%);
  background: -o-linear-gradient(top, #74d4cc 0%, #1386a6 100%);
  background: -ms-linear-gradient(top, #74d4cc 0%, #1386a6 100%);
  background: linear-gradient(to bottom, #74d4cc 0%, #1386a6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74d4cc', endColorstr='#1386a6',GradientType=0 );
}
.g9 {
  background: #efeebc;
  background: -moz-linear-gradient(top, #efeebc 0%, #61d0cf 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #efeebc),
    color-stop(100%, #61d0cf)
  );
  background: -webkit-linear-gradient(top, #efeebc 0%, #61d0cf 100%);
  background: -o-linear-gradient(top, #efeebc 0%, #61d0cf 100%);
  background: -ms-linear-gradient(top, #efeebc 0%, #61d0cf 100%);
  background: linear-gradient(to bottom, #efeebc 0%, #61d0cf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efeebc', endColorstr='#61d0cf',GradientType=0 );
}
.g10 {
  background: #fee154;
  background: -moz-linear-gradient(top, #fee154 0%, #a3dec6 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #fee154),
    color-stop(100%, #a3dec6)
  );
  background: -webkit-linear-gradient(top, #fee154 0%, #a3dec6 100%);
  background: -o-linear-gradient(top, #fee154 0%, #a3dec6 100%);
  background: -ms-linear-gradient(top, #fee154 0%, #a3dec6 100%);
  background: linear-gradient(to bottom, #fee154 0%, #a3dec6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee154', endColorstr='#a3dec6',GradientType=0 );
}
.g11 {
  background: #fdc352;
  background: -moz-linear-gradient(top, #fdc352 0%, #e8ed92 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #fdc352),
    color-stop(100%, #e8ed92)
  );
  background: -webkit-linear-gradient(top, #fdc352 0%, #e8ed92 100%);
  background: -o-linear-gradient(top, #fdc352 0%, #e8ed92 100%);
  background: -ms-linear-gradient(top, #fdc352 0%, #e8ed92 100%);
  background: linear-gradient(to bottom, #fdc352 0%, #e8ed92 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdc352', endColorstr='#e8ed92',GradientType=0 );
}
.g12 {
  background: #ffac6f;
  background: -moz-linear-gradient(top, #ffac6f 0%, #ffe467 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #ffac6f),
    color-stop(100%, #ffe467)
  );
  background: -webkit-linear-gradient(top, #ffac6f 0%, #ffe467 100%);
  background: -o-linear-gradient(top, #ffac6f 0%, #ffe467 100%);
  background: -ms-linear-gradient(top, #ffac6f 0%, #ffe467 100%);
  background: linear-gradient(to bottom, #ffac6f 0%, #ffe467 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffac6f', endColorstr='#ffe467',GradientType=0 );
}
.g13 {
  background: #fda65a;
  background: -moz-linear-gradient(top, #fda65a 0%, #ffe467 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #fda65a),
    color-stop(100%, #ffe467)
  );
  background: -webkit-linear-gradient(top, #fda65a 0%, #ffe467 100%);
  background: -o-linear-gradient(top, #fda65a 0%, #ffe467 100%);
  background: -ms-linear-gradient(top, #fda65a 0%, #ffe467 100%);
  background: linear-gradient(to bottom, #fda65a 0%, #ffe467 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fda65a', endColorstr='#ffe467',GradientType=0 );
}
.g14 {
  background: #fd9e58;
  background: -moz-linear-gradient(top, #fd9e58 0%, #ffe467 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #fd9e58),
    color-stop(100%, #ffe467)
  );
  background: -webkit-linear-gradient(top, #fd9e58 0%, #ffe467 100%);
  background: -o-linear-gradient(top, #fd9e58 0%, #ffe467 100%);
  background: -ms-linear-gradient(top, #fd9e58 0%, #ffe467 100%);
  background: linear-gradient(to bottom, #fd9e58 0%, #ffe467 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd9e58', endColorstr='#ffe467',GradientType=0 );
}
.g15 {
  background: #f18448;
  background: -moz-linear-gradient(top, #f18448 0%, #ffd364 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #f18448),
    color-stop(100%, #ffd364)
  );
  background: -webkit-linear-gradient(top, #f18448 0%, #ffd364 100%);
  background: -o-linear-gradient(top, #f18448 0%, #ffd364 100%);
  background: -ms-linear-gradient(top, #f18448 0%, #ffd364 100%);
  background: linear-gradient(to bottom, #f18448 0%, #ffd364 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f18448', endColorstr='#ffd364',GradientType=0 );
}
.g16 {
  background: #f06b7e;
  background: -moz-linear-gradient(top, #f06b7e 0%, #f9a856 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #f06b7e),
    color-stop(100%, #f9a856)
  );
  background: -webkit-linear-gradient(top, #f06b7e 0%, #f9a856 100%);
  background: -o-linear-gradient(top, #f06b7e 0%, #f9a856 100%);
  background: -ms-linear-gradient(top, #f06b7e 0%, #f9a856 100%);
  background: linear-gradient(to bottom, #f06b7e 0%, #f9a856 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f06b7e', endColorstr='#f9a856',GradientType=0 );
}
.g17 {
  background: #ca5a92;
  background: -moz-linear-gradient(top, #ca5a92 0%, #f4896b 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #ca5a92),
    color-stop(100%, #f4896b)
  );
  background: -webkit-linear-gradient(top, #ca5a92 0%, #f4896b 100%);
  background: -o-linear-gradient(top, #ca5a92 0%, #f4896b 100%);
  background: -ms-linear-gradient(top, #ca5a92 0%, #f4896b 100%);
  background: linear-gradient(to bottom, #ca5a92 0%, #f4896b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca5a92', endColorstr='#f4896b',GradientType=0 );
}
.g18 {
  background: #5b2c83;
  background: -moz-linear-gradient(top, #5b2c83 0%, #d1628b 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #5b2c83),
    color-stop(100%, #d1628b)
  );
  background: -webkit-linear-gradient(top, #5b2c83 0%, #d1628b 100%);
  background: -o-linear-gradient(top, #5b2c83 0%, #d1628b 100%);
  background: -ms-linear-gradient(top, #5b2c83 0%, #d1628b 100%);
  background: linear-gradient(to bottom, #5b2c83 0%, #d1628b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b2c83', endColorstr='#d1628b',GradientType=0 );
}
.g19 {
  background: #371a79;
  background: -moz-linear-gradient(top, #371a79 0%, #713684 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #371a79),
    color-stop(100%, #713684)
  );
  background: -webkit-linear-gradient(top, #371a79 0%, #713684 100%);
  background: -o-linear-gradient(top, #371a79 0%, #713684 100%);
  background: -ms-linear-gradient(top, #371a79 0%, #713684 100%);
  background: linear-gradient(to bottom, #371a79 0%, #713684 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#371a79', endColorstr='#713684',GradientType=0 );
}
.g20 {
  background: #28166b;
  background: -moz-linear-gradient(top, #28166b 0%, #45217c 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #28166b),
    color-stop(100%, #45217c)
  );
  background: -webkit-linear-gradient(top, #28166b 0%, #45217c 100%);
  background: -o-linear-gradient(top, #28166b 0%, #45217c 100%);
  background: -ms-linear-gradient(top, #28166b 0%, #45217c 100%);
  background: linear-gradient(to bottom, #28166b 0%, #45217c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28166b', endColorstr='#45217c',GradientType=0 );
}
.g21 {
  background: #192861;
  background: -moz-linear-gradient(top, #192861 0%, #372074 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #192861),
    color-stop(100%, #372074)
  );
  background: -webkit-linear-gradient(top, #192861 0%, #372074 100%);
  background: -o-linear-gradient(top, #192861 0%, #372074 100%);
  background: -ms-linear-gradient(top, #192861 0%, #372074 100%);
  background: linear-gradient(to bottom, #192861 0%, #372074 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#192861', endColorstr='#372074',GradientType=0 );
}
.g22 {
  background: #040b3c;
  background: -moz-linear-gradient(top, #040b3c 0%, #233072 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #040b3c),
    color-stop(100%, #233072)
  );
  background: -webkit-linear-gradient(top, #040b3c 0%, #233072 100%);
  background: -o-linear-gradient(top, #040b3c 0%, #233072 100%);
  background: -ms-linear-gradient(top, #040b3c 0%, #233072 100%);
  background: linear-gradient(to bottom, #040b3c 0%, #233072 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#040b3c', endColorstr='#233072',GradientType=0 );
}
.g23 {
  background: -moz-linear-gradient(top, #040b3c 0%, #012459 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #040b3c),
    color-stop(100%, #012459)
  );
  background: -webkit-linear-gradient(top, #040b3c 0%, #012459 100%);
  background: -o-linear-gradient(top, #040b3c 0%, #012459 100%);
  background: -ms-linear-gradient(top, #040b3c 0%, #012459 100%);
  background: linear-gradient(to bottom, #040b3c 0%, #012459 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#040b3c', endColorstr='#012459',GradientType=0 );
}
/* -------------------------------------- scroll -------------------------------------- */
.scrollbar-container {
  position: relative !important;
  z-index: 50 !important;
  /* height: 100%; */
}
.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: #eeeeee00 !important;
  opacity: 0.8;
  z-index: 50 !important;
}
.ps__thumb-y {
  margin: 0 3px 0 0;
  z-index: 50 !important;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* -------------------------------------- img -------------------------------------- */

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* -------------------------------------- divider -------------------------------------- */
body {
  --left-width: 300px;
  padding: 0;
  margin: 0;
  @apply scrollbar-hide bg-[--background-press];
}
#player {
  position: relative;
  top: calc(100vh - 5rem);
  left: 0;
  width: 100%;
  /* z-index: 50; */
}

#main,
#sidebar,
#dragbar {
  top: 0;
  position: absolute;
  height: calc(100vh - 5.5rem);
}

#sidebar {
  width: var(--left-width);
  z-index: 40;
}

#main {
  right: 0;
  width: calc(100% - var(--left-width));
  z-index: 40;
}

#dragbar {
  margin-top: 0.5rem;
  right: 0;
  width: 4px;
  opacity: 0;
  cursor: col-resize;
  background: var(--sidebar-text-subdued);
  /* transition: 0s ease-in-out 0s, opacity 0.1s ease-in-out 0s; */
}

#dragbar:hover,
body.resizing #dragbar {
  opacity: 1;
}

.horizontalScrollBox {
  mask-image: linear-gradient(
    transparent,
    black 5%,
    black 95%,
    transparent 100%
  ) !important;
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 5%,
    black 95%,
    transparent 100%
  ) !important;
}

/* -------------------------------------- search -------------------------------------- */
.search-input {
  font-size: 14px;
  width: 200px;
  max-width: 0;
  padding: 5px;
  transition: all 0.5s ease;
  position: absolute;
  left: 30px;
  box-sizing: border-box;
  opacity: 0;
  outline: none;
  border: none;
}

.search-expanded {
  max-width: 200px;
  opacity: 1;
}

.search-wrapper {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  border: none;
  outline: none;
  cursor: pointer;
  padding-top: 4px;
  font-size: 18px;
}
